{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header card-header-tabs card-header-primary">
        <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
            <span class="nav-tabs-title">Predicción</span>
            <ul class="nav nav-tabs" data-tabs="tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#demanda" data-toggle="tab">
                  <i class="material-icons">code</i> Demanda
                  <div class="ripple-container"></div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#localizacion" data-toggle="tab">
                  <i class="material-icons">code</i> Localizacion
                  <div class="ripple-container"></div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#validaciones" data-toggle="tab">
                  <i class="material-icons">code</i> Validaciones
                  <div class="ripple-container"></div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
            
            {%load plotly_dash%}
            <div class="card-body">
              <div class="tab-content">
                <div class="tab-pane" id="validaciones">
                  <div class="{% plotly_class name='validaciones' %}"'>
                    {% plotly_app name='validaciones' ratio=0.65 %}
                  </div>
                </div>  
                <div class="tab-pane" id="localizacion">
                  <div class="{% plotly_class name='localizacion_paraderos' %}"'>
                    {% plotly_app name='localizacion_paraderos' ratio=0.5 %}
                  </div>
                </div> 
                <div class="tab-pane active" id="demanda">
                  <div class="{% plotly_class name='historico_demanda_v2' %}"'>
                    {% plotly_app name='historico_demanda_v2' ratio=0.5 %}
                  </div>
                </div> 
              </div>
            </div>
          </div>
        </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
