dash==1.21.0
dash_bootstrap_components==0.13.0
Django==3.2.5
Unipath==1.1
channels==3.0.4
channels_redis
pandas==1.2.1
psycopg2==2.9.1
plotly==5.1.0
dj_database_url==0.5.0
dash_core_components==1.17.1
dash_html_components==1.1.4
django_plotly_dash==1.6.4
python-decouple==3.4
scikit_learn==0.24.2
